.playspace {
	-fx-background-color: rgb(0, 170, 0);
}

.movable-window {
    -fx-background-color: gray;
}

.movable-window-head {
    -fx-padding: 2;
}

.movable-window-body {
    -fx-background-color: lightblue;
}

.movable-window-head-highlight{
    -fx-padding: 2;
    -fx-background-color: orange;
}

.button {
    -fx-background-color: lightgrey;
}
