.main-region {
    -fx-background-color: #FFFFFF;
}

.playspace {
	-fx-background-color: #4caf50;
}

.split-pane-divider {
    -fx-background-color: #FFFFFF;
}

.sidebar.list-view .list-cell {
    -fx-background-color: #4caf50;
}

.sidebar.list-view .list-cell:filled:hover {
}

.sidebar.list-view .scroll-bar:horizontal .increment-arrow,
.sidebar.list-view .scroll-bar:horizontal .decrement-arrow,
.sidebar.list-view .scroll-bar:horizontal .increment-button,
.sidebar.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.mirror-button {
    -fx-text-fill: #ffffff;
    -fx-padding: 8, 20, 8, 20;
}

.mirror-button-hidden {
    -fx-background-color: #004a9f;
}

.mirror-button-shown {
    -fx-background-color: #1675d1;
}

.settings-background {
    -fx-background-color: #FFFFFF;
}

.white-text {
    -fx-text-fill: #000000;
}

.movable-window {
    -fx-background-color: #1675d1;
}

.movable-window-head {
    -fx-padding: 2;
}

.movable-window-head-title {
    -fx-padding: 10;
    -fx-text-fill: white;
}

.movable-window-head-resize {
    -fx-background-color: transparent;
    -fx-padding: 10;
}

.movable-window-head-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-padding: 10;
}
.movable-window-body {
    -fx-background-color: lightblue;
    -fx-border-color: #1675d1;
    -fx-border-width: 2;
}

.movable-window-head-highlight{
    -fx-padding: 2;
    -fx-background-color: orange;
}

.main-region-container > .viewport {
    -fx-background-color: white;
}
